.topicos {
  background: var(--azul-degrade);
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.topicos__titulo {
  color: var(--branco);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}

.topicos__itens-link {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 12rem;
}

.topicos__item {
  margin: 1rem 0.5rem;
}

.topicos__link {
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--branco);
  text-decoration: none;
  background-color: var(--laranja);
  padding: 1rem 1.5rem;
}
